In [1]:
import numpy as np

a = np.ones((5), dtype=int)  # 5=1D array size
print(a , "\n")


b = np.zeros((3,4), dtype=int)   #(3,4)=2D array row,col
print(b , "\n")


c = np.arange(11)      # 0 theke param2-1
print(c , "\n")
c = np.arange(5,11)    # param1 theke param2-1
print(c , "\n")
c = np.arange(1,11,3)   #param1 theke param2-1, increment by param3
print(c , "\n")


c = np.arange(1,11)
print(c , "\n")
c = c.reshape((5,2))       # reshaped c to an 2D array
print(c , "\n")

[1 1 1 1 1]

[[0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]]

[ 0  1  2  3  4  5  6  7  8  9 10]

[ 5  6  7  8  9 10]

[ 1  4  7 10]

[ 1  2  3  4  5  6  7  8  9 10]

[[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]]

In [6]:
import pandas as pd

pd.DataFrame({'y':[2,3,4], 'n':[5,6,6]})

   y  n
0  2  5
1  3  6
2  4  6

In [11]:
pd.Series([4,8,5,6,4])

0    4
1    8
2    5
3    6
4    4
dtype: int64

In [12]:
pd.Series([[4,8,5,6,4],
           [3,5,6,7,8]])

0    [4, 8, 5, 6, 4]
1    [3, 5, 6, 7, 8]
dtype: object